#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND += -Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	env | grep QT
	dpkg-buildflags --get CXXFLAGS
	export DEB_CXXFLAGS_MAINT_APPEND=
	export DEB_CFLAGS_MAINT_APPEND=
	# Check if qca dependencies are installed
	if dpkg -s libqca-qt6-dev > /dev/null 2>&1; then \
		EXTRA_FLAGS="-DWITH_QCA_ENCRYPTION=ON"; \
	else \
		EXTRA_FLAGS="-DWITH_QCA_ENCRYPTION=OFF"; \
	fi; \
	# Check if kf6 dependencies are installed \
	if dpkg -s libkf6guiaddons-dev > /dev/null 2>&1; then \
		EXTRA_FLAGS="$$EXTRA_FLAGS -DWITH_NATIVE_NOTIFICATIONS=ON"; \
	else \
		EXTRA_FLAGS="$$EXTRA_FLAGS -DWITH_NATIVE_NOTIFICATIONS=OFF"; \
	fi; \
	dh_auto_configure -- \
			-DCMAKE_VERBOSE_MAKEFILE=ON \
			-DCMAKE_BUILD_TYPE=Release \
			$$EXTRA_FLAGS
