#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND += -Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
            -DCMAKE_VERBOSE_MAKEFILE=ON \
            -DWITH_NATIVE_NOTIFICATIONS=OFF \
            -DCMAKE_BUILD_TYPE=Release
